<template>
  <teleport to="nav">
    <navigation-bar></navigation-bar>
  </teleport>

  <teleport to="aside">
    <side-drawer :is-opened="true">
      <div class="flex flex-col p-4 space-y-2">

        <div class="flex flex-col">
          <label class="pl-1 text-xs leading-normal text-gray-600">Area</label>
          <select
            v-model="selectedAreaId"
            class="rounded border border-gray-200 bg-gray-100 p-2">
            <option
              v-for="area in areas"
              :value="area.id"
              :key="area.id">{{ area.name }}
            </option>
          </select>
        </div>

        <div class="flex flex-col">
          <label class="pl-1 text-xs leading-normal text-gray-600">Event types</label>
          <div class="flex flex-wrap pt-1">
            <label
              class="pl-1 text-xs leading-normal text-gray-600 w-1/2 items-center flex space-x-2"
              v-for="eventType in eventTypes"
              :key="eventType.id">
              <input type="checkbox"
                     v-model="selectedEventTypes"
                     :value="eventType.id"><span>{{ eventType.name }}</span>
            </label>
          </div>
        </div>

        <div class="flex flex-col pt-4">
          <switch-button
            @switch-changed="selectedTimeframeMode = $event"
            :selected="selectedTimeframeMode">
            <template #option0>Timeframe</template>
            <template #option1>Latest events</template>
          </switch-button>
        </div>

        <div
          v-if="isUsingLatestEventsMode"
          class="flex flex-col h-32 justify-center"
        >
          <span class="p-1 text-xs leading-normal text-gray-600 text-center">
            Continually updating with latest events
          </span>
        </div>

        <div
          v-if="!isUsingLatestEventsMode"
          class="h-32 space-y-3"
        >
          <div class="flex flex-col">
            <label class="pl-1 text-xs leading-normal text-gray-600">Timeframe start</label>
              <div class="flex space-x-2">
                <input
                  class="
                    px-3 py-2 w-3/5
                    text-gray-800 bg-gray-100 border border-gray-300
                    focus:border-gray-400 focus:outline-none focus:bg-white
                    rounded"
                  type="date"
                  v-model="selectedStartDate"
                  :max="selectedEndDate"
                />
                <input
                  class="
                    px-3 py-2 w-2/5
                    text-gray-800 bg-gray-100 border border-gray-300
                    focus:border-gray-400 focus:outline-none focus:bg-white
                    rounded"
                  type="time"
                  v-model="selectedStartTime"
                  :max="selectedStartDate === selectedEndDate && selectedEndTime"
                />
              </div>
          </div>
          <div class="flex flex-col">
            <label class="pl-1 text-xs leading-normal text-gray-600">Timeframe end</label>
            <div class="flex space-x-2">
              <input
                class="
                  px-3 py-2 w-3/5
                  text-gray-800 bg-gray-100 border border-gray-300
                  focus:border-gray-400 focus:outline-none focus:bg-white
                  rounded"
                type="date"
                v-model="selectedEndDate"
                :min="selectedStartDate"
              />
              <input
                class="
                  px-3 py-2 w-2/5
                  text-gray-800 bg-gray-100 border border-gray-300
                  focus:border-gray-400 focus:outline-none focus:bg-white
                  rounded"
                type="time"
                v-model="selectedEndTime"
                :min="selectedStartDate === selectedEndDate && selectedStartTime"
              />
            </div>
          </div>
        </div>

        <div class="flex pt-4">
          <button
            @click="applyFilter"
            class="inline-flex mt-3 px-4 py-2 w-full h-10 items-center justify-center
            font-medium rounded-md text-white
            bg-indigo-600 hover:bg-indigo-500
            focus:outline-none focus:border-indigo-700 focus:ring
            active:bg-indigo-700 transition ease-in-out duration-150">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path xmlns="http://www.w3.org/2000/svg" d="M4 7a1 1 0 011-1h14a1 1 0 110 2H5a1 1 0
            01-1-1zm2 5a1 1 0 011-1h10a1 1 0 110 2H7a1 1 0 01-1-1zm2 5a1 1 0 011-1h6a1 1 0 110
            2H9a1 1 0 01-1-1z"/></svg> Filter
          </button>
        </div>
      </div>
    </side-drawer>
  </teleport>

  <event-sequence-map
    :background-image="background"
    :device-events-time-series="timeSeries"
    :event-types="types"
    @device-changed="handleDeviceChange"
  />
</template>

<script lang="ts">
import {
  ref, computed, onMounted, toRaw,
} from 'vue';
import { useStore, mapGetters } from 'vuex';
import SideDrawer from '@/components/SideDrawer.vue';
import SwitchButton from '@/components/SwitchButton.vue';
import EventSequenceMap from '@/components/EventSequenceMap.vue';
import {
  ApiEventType,
  Device,
  EventType,
  TimeframeMode,
} from '@/types';
import NavigationBar from '@/components/NavigationBar.vue';

export default {
  components: {
    NavigationBar, SwitchButton, SideDrawer, EventSequenceMap,
  },
  computed: {
    ...mapGetters([
      'clients',
      'sites',
      'areas',
      'eventTypes',
    ]),
  },
  setup() {
    const store = useStore();

    const selectedClientId = ref(0);
    const selectedSiteId = ref(0);
    const selectedAreaId = ref(0);
    const selectedEventTypes = ref([]);
    const selectedTimeframeMode = ref(0);

    const selectedStartDate = ref('');
    const selectedStartTime = ref('');
    const selectedEndDate = ref('');
    const selectedEndTime = ref('');

    const types = ref([]);
    const timeSeries = ref({});
    const background = ref({
      base64image: '',
      bounds: [],
    });

    onMounted(async () => {
      await store.dispatch('fetchFilterOptions');

      selectedClientId.value = store.getters.selectedClientId;
      selectedSiteId.value = store.getters.selectedSiteId;
      selectedAreaId.value = store.getters.selectedAreaId;
      selectedEventTypes.value = store.getters.selectedEventTypes;
      selectedTimeframeMode.value = store.getters.selectedTimeframeMode;

      const startDateTime = store.getters.selectedStartDateTime.toISOString();
      selectedStartDate.value = startDateTime.substring(0, 10);
      selectedStartTime.value = new Date(startDateTime).toTimeString().substring(0, 5);

      const endDateTime = store.getters.selectedEndDateTime.toISOString();
      selectedEndDate.value = endDateTime.substring(0, 10);
      selectedEndTime.value = new Date(endDateTime).toTimeString().substring(0, 5);

      const { areas } = store.getters;
      const area = JSON.parse(JSON.stringify(areas[0]));

      background.value = {
        base64image: area.image,
        bounds: area.image_bounds,
      };
    });

    const fetchEvents = async () => {
      let eventTypes = JSON.parse(JSON.stringify(selectedEventTypes.value));
      if (!eventTypes.length) {
        eventTypes = store.getters.eventTypes.map((type: ApiEventType) => type.id);
      }

      await store.dispatch('fetchEvents', {
        clientId: selectedClientId.value,
        siteId: selectedSiteId.value,
        areaId: selectedAreaId.value,
        eventTypes,
        timeframeMode: selectedTimeframeMode.value,
        startDateTime: new Date(`${selectedStartDate.value}T${selectedStartTime.value}`),
        endDateTime: new Date(`${selectedEndDate.value}T${selectedEndTime.value}`),
      });

      timeSeries.value = store.getters.timeSeries;
      types.value = store.getters.eventTypes.map((eventType: ApiEventType) => ({
        id: eventType.id,
        name: eventType.name,
        unit: eventType.unit,
      } as EventType));
    };

    const interval = undefined;
    const applyFilter = async () => {
      clearInterval(interval);

      if (selectedTimeframeMode.value === TimeframeMode.LATEST) {
        setInterval(() => {
          fetchEvents();
        }, 15 * 1000); //re-fetch every 15 seconds
      } else {
        await fetchEvents();
      }
    };

    const isUsingLatestEventsMode = computed(
      () => selectedTimeframeMode.value === TimeframeMode.LATEST,
    );

    const handleDeviceChange = async (device: Device) => {
      await store.dispatch('updateDevice', toRaw(device));
    };

    return {
      selectedClientId,
      selectedSiteId,
      selectedAreaId,
      selectedEventTypes,
      selectedTimeframeMode,
      selectedStartDate,
      selectedStartTime,
      selectedEndDate,
      selectedEndTime,

      isUsingLatestEventsMode,
      applyFilter,

      timeSeries,
      types,

      background,
      handleDeviceChange,
    };
  },
};

</script>
