<template>
  <div class="flex items-center justify-center h-screen w-screen bg-gray-100">
    <login-form
      @form-submitted="formSubmit"
      :is-loading="isLoading"
      :error-text="errorText"
    />
  </div>
</template>

<script lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import LoginForm from '@/components/LoginForm.vue';
import api from '@/api';

interface FormData {
  username: string;
  password: string;
}

export default {
  components: {
    LoginForm,
  },
  setup() {
    const isLoading = ref(false);
    const errorText = ref('');
    const router = useRouter();

    const formSubmit = async ({ username, password }: FormData): Promise<void> => {
      isLoading.value = true;
      try {
        await api.authenticateUser({ username, password });
        errorText.value = '';
      } catch (e) {
        errorText.value = e.message;
      }

      isLoading.value = false;

      if (errorText.value === '') {
        await router.push({ name: 'Tenants' });
      }
    };

    return {
      isLoading,
      errorText,
      formSubmit,
    };
  },
};
</script>
