<template>
  <teleport to="nav">
    <navigation-bar></navigation-bar>
  </teleport>

  <div class="flex flex-col">

    <h2 class="text-2xl pb-2 pt-4">Background picture</h2>
    <background-picture-form
      :areas="areas"
      @form-submitted="backgroundPictureFormHandler"
    />

    <hr class="my-4 mx-3"/>

    <h2 class="text-2xl pb-2 pt-4">Scale settings</h2>
    <scale-settings-form
      :event-types="eventTypes"
      :scale-settings="scaleSettings"
      @form-submitted="scaleFormHandler"
    />
  </div>
</template>

<script lang="ts">
import { onMounted, ref } from 'vue';
import ScaleSettingsForm from '@/components/ScaleSettingsForm.vue';
import { useStore } from 'vuex';
import {
  ApiArea, ApiEventType, Area, EventType, ScaleValue,
} from '@/types';
import BackgroundPictureForm from '@/components/BackgroundPictureForm.vue';
import NavigationBar from '@/components/NavigationBar.vue';

const SCALE_SETTINGS_KEY = 'scale_settings';

export default {
  components: {
    BackgroundPictureForm,
    ScaleSettingsForm,
    NavigationBar,
  },
  setup() {
    const store = useStore();

    const eventTypes = ref([]);
    const scaleSettings = ref({});
    const scaleFormHandler = (payload: any) => {
      localStorage.setItem(SCALE_SETTINGS_KEY, JSON.stringify(payload));
    };

    const areas = ref([]);
    const backgroundPictureFormHandler = async (payload: any) => {
      const area = {
        id: payload.areaId,
        image: payload.image,
        imageBounds: payload.imageBounds,
      } as Area;

      await store.dispatch('updateArea', area);
    };

    onMounted(async () => {
      await store.dispatch('fetchEventTypes');

      eventTypes.value = store.getters.eventTypes.map((eventType: ApiEventType) => ({
        id: eventType.id,
        name: eventType.name,
        unit: eventType.unit,
      } as EventType));

      scaleSettings.value = JSON.parse(
        localStorage.getItem(SCALE_SETTINGS_KEY) as string,
      ) as { [key: string]: ScaleValue };

      areas.value = store.getters.areas.map((area: ApiArea) => ({
        id: area.id,
        name: area.name,
        image: area.image,
      } as Area));
    });


    return {
      eventTypes,
      scaleSettings,
      scaleFormHandler,

      areas,
      backgroundPictureFormHandler,
    };
  },
};
</script>
