<template>
  <div class="flex flex-col items-center justify-center h-screen w-screen bg-gray-100">

    <form
      @submit.prevent="formSubmit"
      class="bg-white rounded p-3 flex flex-col"
    >
      <div class="pb-4">
        <h2>Client</h2>

        <select
          v-model="selectedClientId"
          class="rounded border border-gray-200 bg-gray-100 p-2 w-full">
          <option
            v-for="client in clients"
            :value="client.id"
            :key="client.id">{{ client.name }}
          </option>
        </select>
      </div>

      <div class="pb-4">
        <h2>Site</h2>

        <select
          v-model="selectedSiteId"
          class="rounded border border-gray-200 bg-gray-100 p-2 w-full">
          <option
            v-for="site in sites"
            :value="site.id"
            :key="site.id">{{ site.name }}
          </option>
        </select>
      </div>

      <button
        type="submit"
        class="
        inline-flex px-4 py-2 w-full h-10 items-center justify-center
        border border-transparent
        font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500
        focus:outline-none focus:border-indigo-700 focus:ring
        active:bg-indigo-700 transition ease-in-out duration-150"
      >
        Continue
      </button>
    </form>

  </div>
</template>

<script lang="ts">

import { mapGetters, useStore } from 'vuex';
import { onMounted, ref } from 'vue';
import api from '@/api';
import { useRouter } from 'vue-router';

export default {
  computed: {
    ...mapGetters([
      'clients',
      'sites',
    ]),
  },
  setup() {
    const store = useStore();
    const router = useRouter();

    const selectedClientId = ref(0);
    const selectedSiteId = ref(0);

    const formSubmit = async (): Promise<void> => {
      const clientId = selectedClientId.value;
      const siteId = selectedSiteId.value;

      try {
        await api.authenticateTenant({
          clientId,
          siteId,
        });
      } finally {
        store.commit('SET_CLIENT_ID', clientId);
        store.commit('SET_SITE_ID', siteId);
        await router.push({ path: 'Dashboard' });
      }
    };

    onMounted(async () => {
      await store.dispatch('fetchTenants');

      const { clients, sites } = store.getters;

      selectedClientId.value = clients[0].id;
      selectedSiteId.value = sites[0].id;

      if (clients.length === 1 && sites.length === 1) {
        await formSubmit();
      }
    });

    return {
      formSubmit,
      selectedClientId,
      selectedSiteId,
    };
  },
};
</script>
