<template>
  <form
    @submit.prevent="submitForm"
    class="flex flex-col mx-auto justify-center text-sm"
  >
    <div class="flex space-x-2">
      <select
        v-model="selectedAreaId"
        class="rounded border border-gray-200 bg-gray-100 p-2">
        <option
          v-for="area in areas"
          :key="area.id"
          :value="area.id"
        >{{ area.name }}</option>
      </select>

      <input
        @change="selectPictureHandler"
        type="file"
        accept="image/*"
        class="rounded border border-gray-200 bg-gray-100 p-2"
      />
    </div>

    <div class="flex justify-center p-2">
      <button
        :disabled="!isSubmitAllowed"
        class="inline-flex px-4 py-2 items-center justify-center
              font-medium rounded-md text-white
              focus:outline-none focus:-indigo-700 focus:ring
              active:bg-indigo-700 transition ease-in-out duration-150"
        :class="[isSubmitAllowed ? 'bg-indigo-600 hover:bg-indigo-500' : 'bg-indigo-200']"
      >
        Save background picture
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { Area } from '@/types';

export default defineComponent({
  props: {
    areas: Object as () => Area[],
  },
  emits: ['form-submitted'],
  setup(props, { emit }) {
    const selectedAreaId = ref();
    const imageString = ref('');
    const imageBounds = ref([] as number[][]);

    const submitForm = () => {
      emit('form-submitted', {
        areaId: selectedAreaId.value,
        image: imageString.value,
        imageBounds: JSON.parse(JSON.stringify(imageBounds.value)),
      });
    };

    const selectPictureHandler = async (event: any) => {
      const reader = new FileReader();
      reader.readAsDataURL(event.target.files[0]);
      reader.onload = (e) => {
        const img = new Image();
        img.onload = async () => {

          const leftTop = [
            -1 * (img.naturalWidth / 2),
            -1 * (img.naturalHeight / 2),
          ];

          const rightBottom = [
            (img.naturalWidth / 2),
            (img.naturalHeight / 2),
          ];

          imageString.value = img.src as string;
          imageBounds.value = [
            leftTop,
            rightBottom,
          ];
        };
        const imageSource = (e.target as FileReader).result as string;
        img.src = imageSource;
      };
    };

    const isSubmitAllowed = computed(() => selectedAreaId.value && imageString.value.length > 0);

    return {
      selectedAreaId,
      isSubmitAllowed,
      submitForm,
      selectPictureHandler,
    };
  },
});
</script>
