<template>
  <div class="w-full flex rounded-md overflow-hidden">
    <play-pause-button
      v-if="numberOfTimestamps > 1"
      v-model="isPlayButtonHidden"
      @play-button-clicked="play"
      @pause-button-clicked="pause"
    />
    <div
      v-if="numberOfTimestamps > 1"
      class="flex w-full bg-gray-200">
      <button
        v-for="(timestamp, i) in timestamps" :key="timestamp"
        @click="windIndexTo(timestamp)"
        data-testid="timestampButton"
        class="w-full h-full cursor-pointer hover:bg-gray-500"
        :class="[(i <= index) ? 'bg-gray-400' : '']"
        :title="prettyDatetime(timestamp)"
      />
    </div>
  </div>
  <div
    v-if="numberOfTimestamps > 0"
    class="w-full flex justify-between font-mono"
  >
    <span data-testid="currentOfTotal">{{ index + 1 }}/{{ numberOfTimestamps }}</span>
    <span data-testid="currentTimestamp">{{ prettyDatetime(currentTimestamp) }}</span>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, ref, toRefs, onMounted, watch,
} from 'vue';
import PlayPauseButton from '@/components/PlayPauseButton.vue';

const PLAY_SPEED_IN_MS = 500;

export default defineComponent({
  components: {
    PlayPauseButton,
  },
  props: {
    timestamps: Array as () => number[],
  },
  emits: ['timestamp-changed'],
  setup(props, { emit }) {
    const { timestamps } = toRefs(props);
    const isPlayButtonHidden = ref(false);
    const currentTimestamp = ref(0);
    const index = ref(0);
    const numberOfTimestamps = ref(timestamps?.value ? timestamps.value.length : 0);
    watch(() => timestamps?.value, () => {
      numberOfTimestamps.value = timestamps?.value ? timestamps.value.length : 0;
      changeAndEmitIndex(0);
    });

    const changeAndEmitIndex = (newValue: number) => {
      index.value = newValue;
      currentTimestamp.value = timestamps?.value ? timestamps?.value[index.value] : 0;
      emit('timestamp-changed', currentTimestamp.value);
    };

    const windIndexTo = (timestamp: number) => {
      changeAndEmitIndex(timestamps?.value?.indexOf(timestamp) || 0);
      pause();
    };

    let intervalFunction: number;
    const pause = () => {
      clearInterval(intervalFunction);
      isPlayButtonHidden.value = false;
    };

    const play = () => {
      next();

      intervalFunction = setInterval(() => {
        next();
      }, PLAY_SPEED_IN_MS);
    };

    const next = () => {
      if (index.value >= numberOfTimestamps.value - 1) {
        index.value = -1;
      }

      changeAndEmitIndex(index.value + 1);

      if (index.value >= numberOfTimestamps.value - 1) { //re-run check with new index value
        pause();
      }
    };

    onMounted(() => {
      changeAndEmitIndex(0);
    });

    const prettyDatetime = (timestamp: number): string => {
      if (timestamp <= 0) {
        return '';
      }
      return new Date(timestamp * 1000).toLocaleString();
    };

    return {
      play,
      pause,
      windIndexTo,
      isPlayButtonHidden,
      index,
      currentTimestamp,
      numberOfTimestamps,
      prettyDatetime,
    };
  },
});
</script>
