<template>
  <div class="flex-col">
    <map-canvas
      :background-image="backgroundImage"
      :event-types="eventTypes"
      :devices-events="currentDevicesEvents"
      @device-moved="handleDeviceMove"
    />
    <event-sequence-player
      :timestamps="timestamps"
      @timestamp-changed="timestampChanged"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  toRefs,
  ref,
  watch,
} from 'vue';
import MapCanvas from '@/components/MapCanvas.vue';
import EventSequencePlayer from '@/components/EventSequencePlayer.vue';
import {
  BackgroundImage, TimeSeries, DeviceEvents, EventType, Device,
} from '@/types';

export default defineComponent({
  components: {
    MapCanvas,
    EventSequencePlayer,
  },
  props: {
    backgroundImage: Object as () => BackgroundImage,
    deviceEventsTimeSeries: Object as () => TimeSeries,
    eventTypes: Object as () => EventType[],
  },
  emits: ['device-changed'],
  setup(props, { emit }) {
    const { deviceEventsTimeSeries } = toRefs(props);

    const timestamps = ref(Object.keys(deviceEventsTimeSeries?.value || {}));
    watch(() => deviceEventsTimeSeries?.value, () => {
      timestamps.value = Object.keys(deviceEventsTimeSeries?.value || {});
    });

    const currentDevicesEvents = ref([] as DeviceEvents[]);
    const timestampChanged = (chosenTimestamp: number) => {
      if (!deviceEventsTimeSeries?.value) {
        return;
      }
      currentDevicesEvents.value = deviceEventsTimeSeries?.value[chosenTimestamp];
    };

    const handleDeviceMove = (device: Device) => {
      emit('device-changed', device);
    };

    return {
      handleDeviceMove,
      timestamps,
      timestampChanged,
      currentDevicesEvents,
    };
  },
});
</script>
