<template>
  <form
    v-on:submit.prevent="submitForm"
    class="
      p-8 w-full sm:max-w-md space-y-6
      border-t-2 border-indigo-700
      shadow rounded
      bg-white"
  >
    <div
      v-if="errorText"
      data-testId="errorTextContainer"
      class="px-4 py-2 bg-red-100 border border-red-300 text-red-600 rounded"
    >
      {{ errorText }}
    </div>

    <label class="block text-sm text-gray-600">
      Username
      <input
        v-model="username"
        :disabled="isLoading"
        data-testid="usernameInput"
        type="text"
        ref="usernameFieldRef"
        class="
          px-3 py-2 w-full
          text-gray-800 bg-gray-100 border border-gray-300
          focus:border-gray-400 focus:outline-none focus:bg-white
          rounded"
        placeholder="Enter your username"
      />
    </label>

    <label class="block text-sm text-gray-600">
      Password
      <input
        v-model="password"
        :disabled="isLoading"
        data-testid="passwordInput"
        type="password"
        class="
          px-3 py-2 w-full
          text-gray-800 bg-gray-100 border border-gray-300
          focus:border-gray-400 focus:outline-none focus:bg-white
          rounded"
        placeholder="Enter your password"
      />
    </label>

    <button
      :disabled="isLoading"
      data-testid="formSubmitButton"
      type="submit"
      class="
        inline-flex px-4 py-2 w-full h-10 items-center justify-center
        border border-transparent
        font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500
        focus:outline-none focus:border-indigo-700 focus:ring
        active:bg-indigo-700 transition ease-in-out duration-150"
      :class="isLoading ? 'cursor-not-allowed' : ''"
    >
      <svg v-show="isLoading"
           class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
           xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24">
        <circle class="opacity-25"
                stroke="currentColor"
                cx="12" cy="12" r="10"
                stroke-width="4"/>
        <path class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962
                7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/>
      </svg>
      <span v-show="!isLoading">Log in</span>
    </button>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  props: {
    errorText: String,
    isLoading: Boolean,
  },
  emits: ['form-submitted'],
  setup(props, { emit }) {
    const username = ref('');
    const password = ref('');

    const submitForm = () => {
      emit('form-submitted', {
        username: username.value,
        password: password.value,
      });
    };

    return {
      username,
      password,
      submitForm,
    };
  },
});
</script>
