<template>
  <div class="relative" style="width: 60rem; height: 40rem;">
    <!--tabindex to make it focusable for keyboard events -->
    <canvas
      class="shadow-inner bg-white focus:outline-none w-full h-full"
      tabindex="0"
      ref="canvasRef">
      Canvas element not supported in this browser!>
    </canvas>

    <button
      @click="zoomIn"
      data-testid="zoomInButton"
      class="absolute top-2 right-2 h-6 w-6
        flex items-center justify-center
        outline-none rounded text-white bg-indigo-300 hover:bg-indigo-400">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg"
              d="M12 4a1 1 0 011 1v6h6a1 1 0 110 2h-6v6a1 1 0 11-2 0v-6H5a1
                1 0 110-2h6V5a1 1 0 011-1z"/>
      </svg>
    </button>

    <button
      @click="zoomOut"
      data-testid="zoomOutButton"
      class="absolute top-10 right-2 h-6 w-6
        flex items-center justify-center
        outline-none rounded text-white bg-indigo-300 hover:bg-indigo-400">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path xmlns="http://www.w3.org/2000/svg"
              d="M4 12a1 1 0 011-1h14a1 1 0 110 2H5a1 1 0 01-1-1z"/>
      </svg>
    </button>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  toRefs,
  watch,
} from 'vue';
import BackgroundLayer from '@/canvas/BackgroundLayer';
import EventsLayer from '@/canvas/EventsLayer';
import useMoveOnCanvas from '@/composables/MoveOnCanvas';
import useAnimationLoop from '@/composables/AnimationLoop';
import useZoomOnCanvas, { zoomIn, zoomOut } from '@/composables/ZoomOnCanvas';
import useSelectOnCanvas from '@/composables/SelectOnCanvas';
import {
  BackgroundImage, DeviceEvents, EventType, MapCanvasContext,
} from '@/types';

export default defineComponent({
  props: {
    backgroundImage: Object as () => BackgroundImage,
    devicesEvents: Object as () => DeviceEvents[],
    eventTypes: Object as () => EventType[],
  },
  emits: ['device-moved'],
  setup(props, { emit }) {
    const { backgroundImage, devicesEvents, eventTypes } = toRefs(props);
    const canvasRef = ref();
    let canvas: HTMLCanvasElement;
    let renderCtx: CanvasRenderingContext2D;

    onMounted(() => {
      canvas = canvasRef.value;
      renderCtx = canvas.getContext('2d') as CanvasRenderingContext2D;
      if (!renderCtx) {
        return;
      }

      const pixelRatio = window.devicePixelRatio;
      canvas.width = canvas.clientWidth * pixelRatio;
      canvas.height = canvas.clientHeight * pixelRatio;
      renderCtx.scale(pixelRatio, pixelRatio);

      const mapContext = {
        zoom: 5,
        offsetX: 0,
        offsetY: 0,
      } as MapCanvasContext;

      useZoomOnCanvas(canvas, mapContext);
      useMoveOnCanvas(canvas, mapContext);

      const bg = new BackgroundLayer(renderCtx, mapContext);
      bg.setImageByBase64String(backgroundImage?.value?.base64image || '');
      bg.setImageBounds(backgroundImage?.value?.bounds || []);
      watch(() => backgroundImage?.value, () => {
        bg.setImageByBase64String(backgroundImage?.value?.base64image || '');
        bg.setImageBounds(backgroundImage?.value?.bounds || []);
      });

      const eventsLayer = new EventsLayer(renderCtx, mapContext);
      eventsLayer.setDevicesEvents(devicesEvents?.value || []);
      eventsLayer.setEventTypes(eventTypes?.value || []);

      watch(() => devicesEvents?.value, () => {
        const deviceEvents = devicesEvents?.value || [];
        eventsLayer.setDevicesEvents(deviceEvents);

        const devices = deviceEvents.map((de: DeviceEvents) => de.device) || [];
        useSelectOnCanvas(canvas, mapContext, devices, emit);
      });

      watch(() => eventTypes?.value, () => {
        eventsLayer.setEventTypes(eventTypes?.value || []);
      });

      useAnimationLoop(() => {
        renderCtx.clearRect(0, 0, canvas.width, canvas.height);
        bg.render();
        eventsLayer.render();
      });

    });

    return {
      canvasRef,
      zoomIn,
      zoomOut,
    };
  },
});
</script>
