<template>
  <div class="h-16 bg-gray-800 relative">
    <div class="mx-auto pr-4 pl-14 h-14 flex items-center">
      <div class="flex-shrink-0 mr-10">
        <img src="/logo.svg"/>
      </div>
      <div class="flex justify-end flex-1">
        <router-link
          to="/"
          class="px-3 py-2 rounded-md text-sm font-medium focus:outline-none
          text-gray-300 hover:text-white hover:bg-gray-700"
        >Dashboard
        </router-link>

        <router-link
          to="/settings"
          class="px-3 py-2 rounded-md text-sm font-medium focus:outline-none
          text-gray-300 hover:text-white hover:bg-gray-700"
        >Settings
        </router-link>

        <button
          @click="logOut"
          type="button"
          class="
            inline-flex items-center px-3 py-2 rounded-md
            text-sm font-medium focus:outline-none
            text-gray-300 hover:text-white hover:bg-gray-700"
        >
          Log out&nbsp;
          <svg class="w-4 h-4 fill-current" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path xmlns="http://www.w3.org/2000/svg" d="M2 6a2 2 0 012-2h9a2 2 0 012 2v2a1
            1 0 11-2 0V6H4v12h9v-2a1 1 0 112 0v2a2 2 0 01-2 2H4a2 2 0 01-2-2V6zm15.293 2.293a1
            1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414-1.414L18.586 13H9a1 1 0
            110-2h9.586l-1.293-1.293a1 1 0 010-1.414z"/></svg>
        </button>
      </div>
    </div>
    <div
      v-if="isLoading"
      class="absolute bottom-0 h-1 w-full
      animate-pulse bg-gradient-to-r from-indigo-500 to-green-500"></div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import api from '@/api';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

export default defineComponent({
  setup() {
    const router = useRouter();
    const store = useStore();

    const logOut = async () => {
      await api.invalidateUserTokens();
      await router.push({ name: 'Login' });
    };

    const isLoading = computed(() => store.getters.isLoading);

    return {
      logOut,
      isLoading,
    };
  },
});
</script>
