<template>
  <button
    v-if="!modelValue"
    @click="playButtonClick"
    data-testid="playButton"
    class="inline-flex px-4 py-2 w-16 h-10 items-center justify-center
      font-medium text-white
      bg-indigo-600 hover:bg-indigo-500
      focus:outline-none focus:border-indigo-700 focus:ring
      active:bg-indigo-700 transition ease-in-out duration-150"
  >
    <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path xmlns="http://www.w3.org/2000/svg" d="M6 6.741c0-1.544 1.674-2.505 3.008-1.728l9.015
        5.26c1.323.771 1.323 2.683 0 3.455l-9.015 5.258C7.674 19.764 6 18.803 6 17.26V6.741zM17.015
        12L8 6.741V17.26L17.015 12z"/>
    </svg>
  </button>
  <button
    v-else
    @click="pauseButtonClick"
    data-testid="pauseButton"
    class="inline-flex px-4 py-2 w-16 h-10 items-center justify-center
      font-medium text-white
      bg-indigo-600 hover:bg-indigo-500
      focus:outline-none focus:border-indigo-700 focus:ring
      active:bg-indigo-700 transition ease-in-out duration-150"
  >
    <svg class="w-4 h-4 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path xmlns="http://www.w3.org/2000/svg" d="M9 6a1 1 0 011 1v10a1 1 0 11-2 0V7a1 1 0
        011-1zm6 0a1 1 0 011 1v10a1 1 0 11-2 0V7a1 1 0 011-1z"/>
    </svg>
  </button>
</template>

<script lang="ts">
import {
  defineComponent,
} from 'vue';

export default defineComponent({
  emits: [
    'play-button-clicked',
    'pause-button-clicked',
    'update:modelValue',
  ],
  props: {
    modelValue: Boolean,
  },
  setup(props, { emit }) {
    const playButtonClick = () => {
      emit('play-button-clicked');
      emit('update:modelValue', true);
    };

    const pauseButtonClick = () => {
      emit('pause-button-clicked');
      emit('update:modelValue', false);
    };

    return {
      playButtonClick,
      pauseButtonClick,
    };
  },
});
</script>
