<template>
  <form
    @submit.prevent="submitForm"
    class="flex flex-col mx-auto justify-center text-sm">
    <table>
      <tr class="text-gray-700">
        <th class="whitespace-nowrap px-2 py-1 text-left">Is in use</th>
        <th class="whitespace-nowrap px-2 py-1 text-left">Event type</th>
        <th class="whitespace-nowrap px-2 py-1 text-right">Scale start</th>
        <th class="whitespace-nowrap px-2 py-1 text-right">Scale end</th>
        <th class="whitespace-nowrap px-2 py-1">Color 0%</th>
        <th class="whitespace-nowrap px-2 py-1">Color 25%</th>
        <th class="whitespace-nowrap px-2 py-1">Color 50%</th>
        <th class="whitespace-nowrap px-2 py-1">Color 75%</th>
        <th class="whitespace-nowrap px-2 py-1">Color 100%</th>
      </tr>
      <tr v-for="(scale, eventType) in scales" :key="eventType">
        <td class="px-2 py-1 text-center">
          <input
            v-model="eventTypesInUse"
            :value="eventType"
            type="checkbox"
          />
        </td>
        <td class="whitespace-nowrap px-2 py-1">{{eventNames[eventType]}}</td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.start"
            type="number"
            class="outline-none w-16 cursor-pointer text-right"
          />
        </td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.end"
            type="number"
            class="outline-none w-16 cursor-pointer text-right"
          />
        </td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.color0"
            type="color"
            class="outline-none w-16 cursor-pointer"
          />
        </td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.color25"
            type="color"
            class="-none outline-none w-16 cursor-pointer"
          />
        </td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.color50"
            type="color"
            class="outline-none w-16 cursor-pointer"
          />
        </td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.color75"
            type="color"
            class="outline-none w-16 cursor-pointer"
          />
        </td>
        <td class="px-2 py-1 text-center">
          <input
            v-model="scale.color100"
            type="color"
            class="outline-none w-16 cursor-pointer"
          />
        </td>
      </tr>
    </table>
    <div class="flex justify-center p-2">
      <button
        class="inline-flex px-4 py-2 items-center justify-center
              font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500
              focus:outline-none focus:-indigo-700 focus:ring
              active:bg-indigo-700 transition ease-in-out duration-150">
        Save scales
      </button>
    </div>
  </form>
</template>


<script lang="ts">
import {
  defineComponent, ref, toRefs, watch,
} from 'vue';
import { EventType, ScaleSettings, ScaleValue } from '@/types';
import DefaultScale from '@/DefaultScales';

export default defineComponent({
  props: {
    eventTypes: Object as () => EventType[],
    scaleSettings: Object as () => ScaleSettings,
  },
  emits: ['form-submitted'],
  setup(props, { emit }) {
    const { eventTypes, scaleSettings } = toRefs(props);
    const scales = ref({} as { [key: string]: ScaleValue });

    const eventTypesInUse = ref([] as string[]);
    const eventNames = {} as { [key: string]: string };

    const initScales = () => {
      const types = eventTypes?.value || [];
      types.forEach((type: EventType) => {
        const settings = scaleSettings?.value || {} as ScaleSettings;

        scales.value[type.id] = settings[type.id];
        if (!scales.value[type.id]) {
          scales.value[type.id] = DefaultScale[type.id]
            ? { ...DefaultScale[type.id] }
            : { ...DefaultScale.defaultScale };
        }

        if (settings[type.id]) {
          eventTypesInUse.value.push(type.id);
        }

        eventNames[type.id] = type.name;
      });
    };

    initScales();
    watch(() => eventTypes?.value, () => {
      initScales();
    });

    const submitForm = () => {
      const scaleSettings = JSON.parse(JSON.stringify(scales.value));
      Object.keys(scaleSettings).forEach((key: string) => {
        if (eventTypesInUse.value.indexOf(key) === -1) {
          delete scaleSettings[key];
        }
      });

      if (scaleSettings !== {}) {
        emit('form-submitted', scaleSettings);
      }
    };

    return {
      eventNames,
      eventTypesInUse,
      scales,
      submitForm,
    };
  },
});
</script>
