<template>
  <div
    class="fixed h-screen top-0 transform transition-all duration-700 flex z-40"
    :class="[isDrawerOpened ? '' : '-translate-x-80']"
  >
    <div class="flex h-full bg-gray-200 shadow-2xl">
      <div class="overflow-x-auto">
        <div
          data-testid="sideDrawerContent"
          class="w-80"
        >
          <slot/>
        </div>
      </div>
      <button
        data-testid="sideDrawerButton"
        @click="isDrawerOpened = !isDrawerOpened"
        class="w-8 cursor-pointer flex flex-col justify-center items-center space-y-3
        bg-transparent text-gray-400 hover:bg-gray-300 hover:text-gray-500">
        <span>{{ isDrawerOpened ? '←' : '→' }}</span>
        <span>{{ isDrawerOpened ? '←' : '→' }}</span>
        <span>{{ isDrawerOpened ? '←' : '→' }}</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';

export default defineComponent({
  props: {
    isOpened: Boolean,
  },
  setup(props) {
    const isDrawerOpened = ref(props.isOpened || false);

    watch(() => props.isOpened, () => {
      isDrawerOpened.value = props.isOpened;
    });

    return {
      isDrawerOpened,
    };
  },
});
</script>
