<template>
  <div class="flex justify-center items-center">
    <label
      data-testid="option0"
      class="text-xs leading-normal px-3"
      :class="[isOptionSelected(SwitchButtonOptions.Option0) ? 'text-gray-600' : 'text-gray-400']"
    >
      <slot name="option0"/>
    </label>

    <button
      data-testid="toggleButton"
      @click="toggleSwitch"
      class="w-16 h-7 flex items-center rounded-full
      cursor-pointer shadow-inner
      p-1 bg-indigo-300 duration-300 ease-in-out">
      <span class="bg-white w-6 h-6 rounded-full shadow transform duration-200 ease-in-out"
            :class="{ 'translate-x-8': isOptionSelected(SwitchButtonOptions.Option1)}"></span>
    </button>

    <label
      data-testid="option1"
      class="text-xs leading-normal px-3"
      :class="[isOptionSelected(SwitchButtonOptions.Option1) ? 'text-gray-600' : 'text-gray-400']"
    >
      <slot name="option1"/>
    </label>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

enum SwitchButtonOptions {
  Option0 = 0,
  Option1 = 1,
}

export default defineComponent({
  props: {
    selected: Number,
  },
  emits: ['switch-changed'],
  setup(props, { emit }) {
    const selectedOption = ref((props.selected) as SwitchButtonOptions
      || SwitchButtonOptions.Option0);

    const toggleSwitch = () => {
      selectedOption.value = selectedOption.value === SwitchButtonOptions.Option0
        ? SwitchButtonOptions.Option1
        : SwitchButtonOptions.Option0;

      emit('switch-changed', selectedOption.value);
    };

    const isOptionSelected = (option: SwitchButtonOptions) => selectedOption.value === option;

    return {
      selectedOption,
      toggleSwitch,
      isOptionSelected,
      SwitchButtonOptions,
    };
  },
});
</script>
