<template>
  <aside class="w-16 absolute"></aside>
  <main class="flex flex-col justify-center w-full min-h-screen bg-gray-100">
    <nav></nav>
    <div class="justify-center flex h-full">
      <router-view/>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({});
</script>
